<head>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
    </script>
</head>


welcome!


<div class="mb-3">
    <div class="col-sm-offset-2 col-sm-8">
        <button id="testButton" type="button" class="btn btn-primary"
                onclick="redirectToAPI()">
            API test
        </button>
    </div>
</div>


<script>
    // 从session中获取token
    var token = "{{ session.get('token') }}";

    // 将token保存到本地存储
    localStorage.setItem('token', token);
</script>


<script>
    function redirectToAPI() {
        // 获取用户输入的API名称
        var apiName = 'taobao.appstore.subscribe.get';
        // 获取当前页面的URL
        var currentURL = window.location.href;
        // 拼接新的URL
        var newURL = 'https://localhost:8200'
        window.location.href = newURL;
    }
</script>

 <script>
        $(document).ready(function() {
            var username = "{{ username }}";
            var token = "{{ token }}";
            $.ajax({
                type: 'POST',
                url: '/api/userInfor',
                dataType: 'json',
                data: JSON.stringify({username: username,token:token}),
                success: function(response) {
                    console.log('Username:', username);
                    console.log('Token:', token);
                },
                error: function(error) {
                    console.log('Error:', error);
                }
            });
        });
    </script>

